<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>norImage</key>
		<string>tabbar_mainframe</string>
		<key>selImage</key>
		<string>tabbar_mainframeHL</string>
	</dict>
	<dict>
		<key>title</key>
		<string>通讯录</string>
		<key>norImage</key>
		<string>tabbar_contacts</string>
		<key>selImage</key>
		<string>tabbar_contactsHL</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>norImage</key>
		<string>tabbar_discover</string>
		<key>selImage</key>
		<string>tabbar_discoverHL</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我</string>
		<key>norImage</key>
		<string>tabbar_me</string>
		<key>selImage</key>
		<string>tabbar_meHL</string>
	</dict>
</array>
</plist>
